

@media screen and ( max-width:768px) {
    .row {
        flex-direction: column;
        text-align: center;
    }
    .logo img{
        padding-right: 80%;
    }
    
    .list{
        display: none;
    }
    .cart{
        flex-direction: row;
        transform: translate(50% ,-50%);
        
        
    }
    .banner_content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .banner_img{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .flower_vase{
       grid-template-columns: repeat(2,2fr);
      
    }
    .seller_content{
        flex-direction: column;
    }
    .seller_img  {
        position: relative;
        
    }
    .badge{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10%,-10%);
    justify-content: center;
    }
    
    .flower_image{
    position: relative; 
        
}
.form_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-30% , 50%);
    
}
.logo_img {
    padding-top: 30px;
}
    
    }
     
    
    

