

@media screen and ( max-width:768px) {
    .row {
        flex-direction: column;
        text-align: center;
    }
    .logo img{
        padding-right: 100%;
    }
    
    .list{
        display: none;
    }
    .cart{
        flex-direction: row;
        
        
    }
    .banner_content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .banner_img{
        flex-direction: column;

        align-items: center;
    }
    .plant_content{
       
       grid-template-columns: 1fr;
    }
    .seller_content{
        flex-direction: column;
    }
    
     
    }
    

