
        /* common css start  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ol, ul, li{
    list-style-type: none;
}



.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 1140px;
    margin: auto;
}
.heading{
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
.pragraph{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

}
        /* common css ends  */

 /* nav section start  */

 #header .row {
    justify-content: space-between;
 }

.nav_menu ul li{
    padding: 48px;

}

/* nav section ends */

/* banner section start  */
#banner{
    padding: 120px 0;
}
.banner_content{
    display: flex;
    justify-content: center;
    align-items: end;

}
#banner .banner_p h2 {
    font-size: 65px;
    color: #000000;
}
#banner .banner_p span{
    color: #E95A08;
}
/* banner section ends */

/* flower vase section start  */
#flower {
    padding: 120px 0;

}
#flower .plant_content{
    text-align: center;
}
#flower .plant_content h3 {
    font-size: 50px;
    color: #000000;
}
#flower .plant_content span{
    color: #E95A08;
}
#flower .flower_card_content {
    text-align: center;
}
#flower .flower_card_content p {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #111111;
}



/* flower vase section ends */